<a href="https://colab.research.google.com/github/GiGiUCSM/MMDT_T-PY101_Batch03/blob/main/Ex_2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [ ]:
my_name = len("My name is python")
print(my_name)

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [ ]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
num_count = s.lower().count("python")
print(num_count)

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [ ]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
new_list = ls1 + ls2
print(len(new_list))

8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [22]:
bio = {
    "Name": ["Myo", "Thida"],
    "Age": [32, 64] }
print(bio)

{'Name': ['Myo', 'Thida'], 'Age': [32, 64]}

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [7]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
combined_set = set1.union(set2)
print ( "Combined set: {} ".format(combined_set))
print ( "Length of combined set:{} ".format(len(combined_set)))

Combined set: {'Name', 'Education', 'status', 'age', 'Height'}
Length of combined set:5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [8]:
input_string = input ("Please enter the something word: ")
new_string = input_string[0] + "*" + input_string[2:] + "!!!"
print (new_string)

Please enter the something word: Python
P*thon!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [14]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s = s.lower()
s = s.replace("."," ")
s = s.replace("-"," ")
s = s.replace(",","")
print (s)

floating point values in python are always done in double precision; hence python float types correspond to doubles in a c like language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [20]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [21]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ls1.copy()
ls2.append("blueberry")
print("Original list:", ls1)
print("New list:", ls2)

Original list: ['apple', 'banana', 'cherry']
New list: ['apple', 'banana', 'cherry', 'blueberry']